.second-box-section-result {
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px 12px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 40px;
    right: 60px;

}

.second-box-intern-result {
    width: 380px;
    height: 550px;
}

#resultado:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#resultado {
    width: 336px;
    height: 400px;
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    resize: none;
    border: 0 none;
}

#alinhamento-botao {
    margin-top: 20px;
    margin-left: 25px;
}

@media screen and (max-width: 480px) {
    .second-box-section-result {
        position: static;
        width: 450px;
        margin: 20px auto;
    }

    .second-box-intern-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #resultado {
        text-align: center;
    }

    #alinhamento-botao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


}