body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F3F5FC;

}

.box-section {
    display: block;
    margin-left: 150px;
    margin-right: 500px;
}

.logo-alura {
    width: 120px;
    height: 48px;
    margin-left: 20px;
    margin-top: 20px;
}

.logo-teolos {
    width: 120px;
    height: 48px;
    margin-top: 20px;
}

.caixa-texto {
    width: 680px;
    height: 350px;
    padding-top: 20px;
    padding-left: 10px;
    color: #0A3871;
    margin-top: 20px;
    background-color: #F3F5FC;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    resize: none;
    border: 0 none;
}

.caixa-texto:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.texto-aviso {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    opacity: 0.4;

}

.texto-aviso::before {
    content: "⚠ ";
}

.botao-cript {
    width: 328px;
    height: 67px;
    margin-right: 24px;
    background-color: #0A3871;
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #D8DFE8;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 200ms cubic-bezier(0.33, 0.44, 0.5, 0.9);
}

.botao-cript:hover {
    transform: scale(1.03); 
}

.botao-descript {
    width: 328px;
    height: 67px;
    background-color: #D8DFE8;
    font-size: 16px;
    color: #0A3871;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #0A3871;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 200ms cubic-bezier(0.33, 0.44, 0.5, 0.9);
}

.botao-descript:hover {
    transform: scale(1.03); 
}

@media screen and (max-width: 780px) {
    .box-section {
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .texto-aviso {
        margin-left: auto;
    }

    .box-section section {
        margin-left: auto;
        margin-right: auto;
    }

    .caixa-texto {
        width: 600px;
        color: #0A3871;
    }

    .botao-cript {
        margin-right: 5px;
        margin-left: auto;
    }

    .botao-descript {
        margin-left: 5px;
        margin-right: auto;
        margin-top: 10px;
    }

}

@media screen and (max-width: 480px) {
    .box-section {
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .texto-aviso {
        margin-left: auto;
    }

    .box-section section {
        margin-left: auto;
        margin-right: auto;
    }

    .caixa-texto {
        width: 300px;
        color: #0A3871;
    }

    .botao-cript {
        margin-right: auto;
        margin-left: auto;
    }

    .botao-descript {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

}